/*
* ==========================================================
*     LIGHTBOX STYLING 
* ==========================================================
*/
.itemcontainer {
	width:300px;
	height:300px;
	overflow:hidden;
}
.itemcontainer img{
	max-width:300px;
}
.itemcontainer img:hover {
	filter:alpha(opacity=60)
	-moz-opacity:0.6;
	opacity:0.6;
	cursor:pointer;
}
.tablecaption{
	}
.col-1{
	width:33%;
}
.col-2{
	width:33%;
	position:relative;
}
