/*
*	LIGHTBOX STYLING 
*==========================================================
*/
		.itemcontainer {
			width:350px;
			height:300px;
			overflow:hidden;
		}
		.itemcontainer img{
			max-width:350px;
			margin:0 auto;
		}
		.itemcontainer img:hover {
			filter:alpha(opacity=60)
			-moz-opacity:0.6;
			opacity:0.6;
			cursor:pointer;
		}
		.block-contain{
			float:left;
			clear:both;
		}
		.tablecaption{
			}
		.col-1{
			background-color:white;
			width:350px;
			display:inline-block;
			clear:both;
		}
		.col-2{
			background-color:black;
			width:33%;
			display:inline-block;
		}
