.maptable{
	display:table;
	width:100%;
	table-layout:fixed;
	border: 1px;
	text-align:center;
	background-image:url(../img/photos/worldmap.jpg) ;
	background-size:100% 1000px;
	}
    /*tr*/
.maptable-row{
	width:100%;display: table-row;
	}
    /*col*/
.maptable-cell{
	display: table-cell;
.mask{
	position:relative;	
	margin:auto;
	width:100%;
	}
.mask:before{
	display:block;
	position:absolute;	
	margin:auto;
	width:100%;
	background-image:url(../img/temp/wmantonica.png)
	z-index:1;
	}
.mask:hover:before{
	background-image:url(../img/temp/wmantonica.png)
	}
